<%= form_tag rodauth.oauth_authorize_path, method: :post do %>
  <h2>The application <%= rodauth.oauth_application[rodauth.oauth_applications_name_column] %> would like to access your data.</h2>

  <div class="form-group">
    <h3>Requested grants:</h3>

    <% rodauth.oauth_application[rodauth.oauth_applications_scopes_column].split(" ").each do |scope| %>
      <% is_default = scope == rodauth.oauth_application_default_scope %>
      <div class="form-check">
        <%= check_box_tag scope, scope, is_default, disabled: is_default, class: "form-check-input" %>
        <%= label_tag scope, scope, class: "form-check-label" %>
      </div>
    <% end %>
    <%= hidden_field_tag rodauth.client_id_param, rodauth.client_id %>
    <% if params[rodauth.state_param] %>
      <%= hidden_field_tag rodauth.state_param, rodauth.state %>
    <% end %>
    <% if params[rodauth.redirect_uri_param] %>
      <%= hidden_field_tag rodauth.redirect_uri_param, rodauth.redirect_uri %>
    <% end %>
    <% if params[rodauth.code_challenge_param] %>
      <%= hidden_field_tag rodauth.code_challenge_param, params[rodauth.code_challenge_param] %>
    <% end %>
    <% if params[rodauth.code_challenge_method_param] %>
      <%= hidden_field_tag rodauth.code_challenge_method_param, params[rodauth.code_challenge_method_param] %>
    <% end %>
  </div>
  <div class="form-group">
    <%= submit_tag "Authorize", class: "btn btn-primary" %>
    <%= link_to "Cancel", "#{rodauth.redirect_uri}?error=access_denied&error_description=The+resource+owner+or+authorization+server+denied+the+request#{"&state=\#{rodauth.state}" if rodauth.state}", class: "btn btn-danger" %>
  </div>
<% end %>