<form method="post" class="form-horizontal" role="form" id="login-form">
  <%==  csrf_tag("/oauth-authorize") if respond_to?(:csrf_tag) %>
  <p>The application <%= rodauth.oauth_application[:name] %> would like to access your data.</p>

  <div class="form-group">
    <h3>Requested grants:</h3>

    <% rodauth.oauth_application[:scopes].split(",").each do |scope| %>
     	<div class="form-check">
        <input id="<%= scope %>" class="form-check-input" type="checkbox" name="scope" value="<%= scope %>" <%= "checked disabled" if scope == rodauth.oauth_application_default_scope %>>
        <label class="form-check-label" for="<%= scope %>"><%= scope %></label>
      </div>
    <% end %>
    <input type="hidden" name="client_id" value="<%= rodauth.client_id %>"/>
    <% if rodauth.param_or_nil("state") %>
      <input type="hidden" name="state" value="<%= rodauth.state %>"/>
    <% end %>
    <% if rodauth.param_or_nil("redirect_uri") %>
      <input type="hidden" name="redirect_uri" value="<%= rodauth.redirect_uri %>"/>
    <% end %>
    <% if rodauth.param_or_nil("code_challenge") %>
      <input type="hidden" name="code_challenge" value="<%= rodauth.param("code_challenge") %>"/>
    <% end %>
    <% if rodauth.param_or_nil("code_challenge_method") %>
      <input type="hidden" name="code_challenge_method" value="<%= rodauth.param("code_challenge_method") %>"/>
    <% end %>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Authorize"/>
    <a href="<%= rodauth.redirect_uri %>?error=access_denied&error_description=The+resource+owner+or+authorization+server+denied+the+request<%= "&state=#{rodauth.state}" if rodauth.state %>" class="btn btn-danger">Cancel</a>
  </div>
</form>