<div>
  <h2><%= @oauth_application[:name] %></h2>
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="<%= "/oauth-applications/#{@oauth_application[:id]}/oauth-tokens" %>" class="btn btn-secondary">Oauth Tokens</a>
  </div>

  <dl>
    <dt>Description: </dt>
    <dd><%= @oauth_application[:description] %></dd>
    <dt>Homepage URL: </dt>
    <dd><%= @oauth_application[:homepage_url] %></dd>
    <dt>Client ID: </dt>
    <dd><%= @oauth_application[:client_id] %></dd>
    <dt>Client Secret: </dt>
    <dd><%= rodauth.get_secret_from_hash(@oauth_application[:client_secret]) %></dd>
    <dt>Callback URL: </dt>
    <dd><%= @oauth_application[:redirect_uri] %></dd>
    <dt>Scopes: </dt>
    <dd><%= @oauth_application[:scopes] %></dd>
  </dl>
</div>